@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Shippori+Mincho:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(194, 80%, 19%);
    color: wheat;
    font-family: Poppins, "Arial", sans-serif;
    font-weight: 600;
}

.container {
    background-color: hsl(194, 80%, 34%);
    width: 90%;
    border-radius: 5px;
}

.navbar {
    height: 20px;
    background-color: hsl(11, 80%, 54%);
    border: 1px solid wheat;
    border-radius: 5px;
}

.search {
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: hsl(194, 80%, 19%);
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar:hover {
    transition: opacity 1s ease;
    opacity: 0.8;
}

#search-button, #search-bar {
    margin: 5px;
    padding: 3px;
}

#search-button:hover, #search-bar:hover {
    transition: background-color 0.7s ease;
    border-style: solid;
    background-color: cadetblue;
}

img {
    width: 50%;
    height: auto;
    border: 2px solid hsl(11, 80%, 54%);
    border-right-color: hsl(11, 80%, 88%);
    border-bottom-color: hsl(11, 80%, 65%);
    margin: 20px;
}

img:hover {
    transition: opacity 1s ease;
    opacity: 0.8;
}

p.pageInfo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

p.pageInfo:hover {
    transition: font-size 0.7s ease;
    font-size: 18px;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

h2:hover {
    transition: margin-left 2s ease;
    margin-left: 340px;
}