@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Shippori+Mincho:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: gold;
    color: wheat;
    font-family: Shippori Mincho, "Arial", sans-serif;
    font-weight: 600;
}

.container {
    background-color: firebrick;
    width: 80%;
}

img {
    width: 50%;
    height: auto;
    border: 2px solid red;
    border-right-color: yellow;
    border-bottom-color: orange;
    margin: 20px;
}

p.pageInfo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
    font-size: 12px;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}




/*body {*/
/*    background-color: aquamarine;*/
/*}*/

/*.container {*/
/*    width: 50%;*/
/*    height: 100vh;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    !*flex-direction: column;*!*/
/*    !*justify-content: space-between;*!*/
/*    flex-flow: row wrap;*/
/*    align-items: center;*/
/*}*/

/*.item {*/

/*}*/
/*img {*/
/*    width: 75px;*/
/*    height: 75px;*/
/*}*/

/*h2 {*/
/*    background: linear-gradient(to left, hsl(43, 98%, 50%), hsl(20, 98%, 50%));*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    !*color: red;*!*/
/*    display: inline;*/
/*    padding: 20px;*/
/*}*/

/*!*#search-bar, #search-button {*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: center;*!*/
/*!*    align-items: center;*!*/
/*!*}*!*/

/*#search-bar:hover, #search-button:hover {*/
/*    animation: fade 1.5s ease forwards;*/
/*}*/

/*@keyframes fade {*/
/*    from {*/
/*        opacity: 1;*/
/*    }*/
/*    to {*/
/*        opacity: 0.5;*/
/*    }*/
/*}*/

/*p {*/
/*    font*/
/*}*/

/*p::selection {*/
/*    background: blanchedalmond;*/
/*    color: firebrick;*/
/*}*/